* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-color: #222;
	--font-color: #fff;
	--secondary-font-color: #aaa;
	--country-color: rgb(109, 170, 40);
	--water-color: rgb(145, 199, 218);
}

body {
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	line-height: 1.5;
	background-color: var(--bg-color);
	color: var(--font-color);
	font-size: 1.25rem;
}

img,
svg {
	display: block;
}

a {
	color: inherit;
}
